<table *ngIf="dataMatrix">
  <tr>
    <th></th>
    <th *ngFor="let xl of dataMatrix.xLabels">{{xl}}</th>
  </tr>

  <tr *ngFor="let row of dataMatrix.matrix; let i=index">
    <th class="th-vertical">{{dataMatrix.yLabels[i]}}</th>
    <td *ngFor="let v of row; let j=index">
      <ng-template #popoverContent>
        <div class="close-wrapper">
          <p class="close" (click)="closePopover()">close</p>
        </div>
        <ul>
          <li *ngFor="let e of v"><a [routerLink]="['/', 'detailView', e.oid ]">{{e.name}}</a></li>
        </ul>
      </ng-template>
      <span class="cell-content" container="body" placement="right-top" [ngbPopover]="popoverContent"
            [popoverTitle]="dataMatrix.yLabels[i] + ' | ' + dataMatrix.xLabels[j]" *ngIf="v.length > 0"
            #popover="ngbPopover" triggers="manual" (click)="addPopover(popover);">{{v.length}}</span>
    </td>
  </tr>
</table>
