.menuElement {
  color:black;
  text-decoration: none;
  padding:10px;
}

.menuElement:hover {
  background-color:#dddddd;
}

ul {
  padding-left:5px;
  list-style:none;
}

div {
  padding-right:10px;
}
