<p *ngIf="numberOfResults" class="greyed">Number of Results: {{numberOfResults}}</p>
<div>
  <div *ngFor="let commentator of results; trackBy: commentator?.oid;" style="margin-bottom:20px;">
    <h4>
      <a [href]="createLinkToRCS(commentator.oid)" target="_blank">{{commentator.name}}</a>
      {{commentator.affiliations.join(', ')}}
      <span style="font-size:65%">
        [<a (click)="toggleShowManifestation(commentator.oid)" style="cursor:pointer">{{showManifestation(commentator.oid) ? 'hide' : 'show'}}</a>]
      </span>
    </h4>
    <div *ngIf="showManifestation(commentator.oid)">
      <p>Period: {{commentator.period}}</p>
      <p><i [innerHtml]="markupToLink(commentator.description)"></i></p>
      <p style="margin-bottom:0;">Commentaries:</p>
      <ul style="padding-left:25px;">
        <li *ngFor="let commentary of commentator.commentaries">
          <a [href]="createLinkToRCS(commentary.oid)" target="_blank">{{commentary.title}}</a>
          <ul>
            <ng-container *ngFor="let manifestation of commentary.manifestations">
            <li *ngIf="showItem(manifestation.getItem())">
              {{showItem(manifestation.getItem())}}
            </li>
            </ng-container>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
