<p *ngIf="numberOfResults" class="greyed">Number of Results: {{numberOfResults}}</p>
<div>
  <div *ngFor="let c of results; trackBy: trackByOid;">
    <h4>
      <a [href]="createLinkToRCS(c.oid)" target="_blank">{{c.name}}</a>
      {{c.affiliations.join(', ')}}
      <span style="font-size:65%">
        [<a (click)="toggleShowManifestation(c.oid)" style="cursor:pointer">{{showManifestation(c.oid) ? 'hide' : 'show'}}</a>]
      </span>
    </h4>
    <div *ngIf="showManifestation(c.oid)">
      <p>Period: {{c.period}}</p>
      <p><i [innerHtml]="markupToLink(c.description)"></i></p>
      <p style="margin-bottom:0;">Manifestations:</p>
      <ul style="padding-left:25px;">
        <li *ngFor="let m of c.commentaries">
          <a [href]="createLinkToRCS(m.oid)" target="_blank">{{m.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
