<form [formGroup]="filterForm" novalidate>
  <h5 [ngStyle]="{'margin': closedFilterView ? '0' : '10px'}" (click)="toggleFilterView('affiliations')" class="expandable">
    Affiliations
    <mat-icon class="small-icon">{{closedFilterView('affiliations') ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
  </h5>
  <div formGroupName="affiliations" *ngIf="closedFilterView('affiliations')">
    <ul>
      <li *ngFor="let a of serialiseObjectAsArray(affiliations)">
        <mat-checkbox [formControlName]="a.key">
          {{affiliationsMetadata[a.key].title}} ({{affiliationsMetadata[a.key].count}})
        </mat-checkbox>
      </li>
    </ul>
  </div>
  <h5 [ngStyle]="{'margin': closedFilterView ? '0' : '10px'}" (click)="toggleFilterView('periods')" class="expandable">
    Periods
    <mat-icon class="small-icon">{{closedFilterView('periods') ? 'arrow_drop_down' : 'arrow_drop_up'}}</mat-icon>
  </h5>
  <div formGroupName="periods" *ngIf="closedFilterView('periods')">
    <ul>
      <li *ngFor="let p of serialiseObjectAsArray(periods)">
        <mat-checkbox [formControlName]="p.key">
          {{periodsMetadata[p.key].title}} ({{periodsMetadata[p.key].count}})
        </mat-checkbox>
      </li>
    </ul>
  </div>
</form>
