<form [formGroup]="filterForm" novalidate>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="affiliations">
      <ng-template ngbPanelTitle>
        <h4>Affiliations</h4>
      </ng-template>
      <ng-template ngbPanelContent>
        <div formGroupName="affiliations">
          <ul>
            <li *ngFor="let a of serialiseObjectAsArray(affiliations)">
              <mat-checkbox [formControlName]="a.key">
                {{affiliationsMetadata[a.key].title}} ({{affiliationsMetadata[a.key].count}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="periods">
      <ng-template ngbPanelTitle>
        <h4>Periods</h4>
      </ng-template>
      <ng-template ngbPanelContent>
        <div formGroupName="periods">
          <ul>
            <li *ngFor="let p of serialiseObjectAsArray(periods)">
              <mat-checkbox [formControlName]="p.key">
                {{periodsMetadata[p.key].title}} ({{periodsMetadata[p.key].count}})
              </mat-checkbox>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</form>
